{% extends '/admin/blank.html' %} {% block body %}
<form id="form1" name="form1" method="post" action="/view_subtsby">
  <table class="pull-right">
    <tr>
      <td>
        Course:

        <select name="select1" class="form-control">
          {% for i in data2 %}
          <option value="{{i[0]}}">{{i[2]}}</option>
          {%  endfor %}
        </select>
      </td>
      <td>
        Sem:
        <select name="select2"class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>

        </select>
      </td>
      <td>
        <input type="submit" name="button" value="Show" class="btn btn btn-info" >
      </td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr style="color: white" bgcolor="black">
      <th>S/no</th>
      <th>Course Name</th>
      <th>Subject</th>
      <th>Subject Code</th>
      <th>Semester</th>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
    </tr>
       {% for i in data %}
    <tr style="color: black" bgcolor="#a9a9a9">

      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i[0] }}</td>
      <td>{{ i[1] }}</td>
      <td>&nbsp;{{ i[2] }}</td>
        <td>{{ i[4] }}</td>
       <td><a href="/edit_sub/{{ i[3] }}" class="btn btn-info">Edit</a></td>
      <td><a href="/delete_sub/{{ i[3] }}" class="btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
