<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>News portal</title>

        <link href="/static/admin/css/style.default.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <header>
            <div class="headerwrapper">
                <div class="header-left">
                    <a href="#" class="logo">
                        <img src="/static/admin/images/logo.png" alt="" />
                    </a>
                    <div class="pull-right">
                        <a href="#" class="menu-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div><!-- header-left -->
                
                <div class="header-right">
                    
                    <div class="pull-right">
                        
<!--                        <form class="form form-search" action="http://themetrace.com/demo/chain/search-results.html">-->
<!--                            <input type="search" class="form-control" placeholder="Search" />-->
<!--                        </form>-->
<!--                        -->
<!--                        <div class="btn-group btn-group-list btn-group-notification">-->
<!--                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
<!--                              <i class="fa fa-bell-o"></i>-->
<!--                              <span class="badge">5</span>-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu pull-right">-->
<!--                                <a href="#" class="link-right"><i class="fa fa-search"></i></a>-->
<!--                                <h5>Notification</h5>-->
<!--                                <ul class="media-list dropdown-list">-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nusja Nawancali</strong> likes a photo of you-->
<!--                                          <small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Weno Carasbong</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.-->
<!--                                          <small class="date"><i class="fa fa-calendar"></i> July 04, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Venro Leonga</strong> likes a photo of you-->
<!--                                          <small class="date"><i class="fa fa-thumbs-up"></i> July 03, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nanterey Reslaba</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.-->
<!--                                          <small class="date"><i class="fa fa-calendar"></i> July 03, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.-->
<!--                                          <small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <div class="dropdown-footer text-center">-->
<!--                                    <a href="#" class="link">See All Notifications</a>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; btn-group &ndash;&gt;-->
<!--                        -->
<!--                        <div class="btn-group btn-group-list btn-group-messages">-->
<!--                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
<!--                                <i class="fa fa-envelope-o"></i>-->
<!--                                <span class="badge">2</span>-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu pull-right">-->
<!--                                <a href="#" class="link-right"><i class="fa fa-plus"></i></a>-->
<!--                                <h5>New Messages</h5>-->
<!--                                <ul class="media-list dropdown-list">-->
<!--                                    <li class="media">-->
<!--                                        <span class="badge badge-success">New</span>-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nusja Nawancali</strong>-->
<!--                                          <p>Hi! How are you?...</p>-->
<!--                                          <small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <span class="badge badge-success">New</span>-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Weno Carasbong</strong>-->
<!--                                          <p>Lorem ipsum dolor sit amet...</p>-->
<!--                                          <small class="date"><i class="fa fa-clock-o"></i> July 04, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Venro Leonga</strong>-->
<!--                                          <p>Do you have the time to listen to me...</p>-->
<!--                                          <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nanterey Reslaba</strong>-->
<!--                                          <p>It might seem crazy what I'm about to say...</p>-->
<!--                                          <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="media">-->
<!--                                        <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">-->
<!--                                        <div class="media-body">-->
<!--                                          <strong>Nusja Nawancali</strong>-->
<!--                                          <p>Hey I just met you and this is crazy...</p>-->
<!--                                          <small class="date"><i class="fa fa-clock-o"></i> July 02, 2014</small>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <div class="dropdown-footer text-center">-->
<!--                                    <a href="#" class="link">See All Messages</a>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; btn-group &ndash;&gt;-->
                        
                        <div class="btn-group btn-group-option">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">

<!--                              <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Change Password</a></li>-->
<!--                              <li class="divider"></li>-->
                              <li><a href="/"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
                            </ul>
                        </div><!-- btn-group -->
                        
                    </div><!-- pull-right -->
                    
                </div><!-- header-right -->
                
            </div><!-- headerwrapper -->
        </header>
        
        <section>
            <div class="mainwrapper">
                <div class="leftpanel">
                    <div class="media profile-left">
                        <a class="pull-left profile-thumb" href="profile.html">
                            <img class="img-circle" src="/static/student.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Welcome</h4>
                            <small class="text-muted">College</small>
                        </div>
                    </div><!-- media -->
                    
                    <h5 class="leftpanel-title">College Home</h5>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/college"><i class="fa fa-home"></i> <span>Home</span></a></li>

                        <li><a href="/clg_view_profile"><i class="fa fa-file-text"></i> <span>Profile</span></a></li>

                        <li><a href="/clg_view_cou"><i class="	glyphicon glyphicon-pencil"></i> <span>View Courses</span></a></li>
                        <li><a href="/collegeviewsubjects"><i class="	glyphicon glyphicon-pencil"></i> <span>Study Materials</span></a></li>


                        <li class="parent"><a href="#"><i class="fa fa fa-cab"></i> <span>Students</span></a>
                            <ul class="children">
                                <li><a href="/clg_student_management">Add Student</a></li>
                                <li><a href="/clg_view_std">View All Student</a></li>
                                <li><a href="/clg_view_std_dept">Department Wise View</a></li>
                            </ul>
                        </li>

                        <li class="parent"><a href="#"><i class="fa fa fa-bullhorn"></i> <span>Staffs</span></a>
                            <ul class="children">
                                <li><a href="/clg_staff_mangmnt">Add Staff</a></li>
                                <li><a href="/clg_view_staff">View Staff</a></li>
                            </ul>
                        </li>

<!--                        <li class="parent"><a href="#"><i class="fa fa fa-group"></i> <span>Placement Cells</span></a>-->
<!--                            <ul class="children">-->
<!--                                <li><a href="/placemnt_managmnt">Add Placement Cell</a></li>-->
<!--                                <li><a href="/view_placement">View Placement Cell</a></li>-->

<!--                            </ul>-->
<!--                        </li>-->
                        <li><a href="/clg_discussion"><i class="glyphicon glyphicon-log-out"></i>Discussion</a></li>
                        <li><a href="/clg_view_articles"><i class="glyphicon glyphicon-log-out"></i>Articles</a></li>

                        <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>LogOut</a></li>



                    </ul>
                    
                </div>
                
                <div class="mainpanel">
                    <div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <a href="/college">   <i class="fa fa-home"></i></a>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                   <h2>COLLEGE HOME</h2>
                                </ul>

                            </div>
                        </div><!-- media -->
                    </div><!-- pageheader -->
                    
                    <div class="contentpanel">
                        
                        {% block body %}
                        {% endblock %}
                    </div><!-- contentpanel -->
                    
                </div>
            </div><!-- mainwrapper -->
        </section>


        <script src="/static/admin/js/jquery-1.11.1.min.js"></script>
        <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/static/admin/js/bootstrap.min.js"></script>
        <script src="/static/admin/js/modernizr.min.js"></script>
        <script src="/static/admin/js/pace.min.js"></script>
        <script src="/static/admin/js/retina.min.js"></script>
        <script src="/static/admin/js/jquery.cookies.js"></script>
        <script src="/static/admin/js/custom.js"></script>

    </body>

<!-- Mirrored from themetrace.com/demo/chain/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Sep 2019 02:55:33 GMT -->
</html>
