{% extends '/College/blank.html' %} {% block body %}

<form action="/clg_std_reg" method="post" enctype="multipart/form-data" name="form1" id="form1">
 <script src="/static/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#depname").change(function () {
            depid=$(this).val();
            $.ajax({

                url:'/clg_crs_by_dep_ajax',
                type:'post',
                data:{dep:depid},
                success:function (res) {
                    le=res.length;
                    $("#couname").empty();
                    for(var i=0;i<=le;i++)
                    {
                        courseid=res[i]["c_id"];
                        coursenm=res[i]["c_name"];
                        $("#couname").append('<option value='+courseid+'>'+coursenm+'</option>')
                    }

                    },error:function (error) {

                }

            });

        });

    });
</script>

  <table class="table table-bordered">
    <tr>
      <td>Student Name:</td>
      <td><label for="stdname"></label>
      <input type="text" name="stdname" id="stdname" class="form-control" required/></td>
    </tr>
   <tr>
      <td>Photo</td>
      <td><input type="file" name="photo" id="photo" class="form-control" required/></td>
    </tr>
  <tr>
      <td>Department Name:</td>
      <td>
      <select name="depname" id="depname" class="form-control">
      <option value="selected" >select</option>
          {% for d in data %}
          <option value="{{ d[0] }}">{{ d[1] }}</option>
          {% endfor %}
      </select> </td>
    </tr>
    <tr>
      <td>Course Name:</td>
      <td><label for="couname"></label>
      <select name="couname" id="couname" class="form-control">

{#          {% for d in data %}#}
{#          <option value="{{ d[1] }}">{{ d[0] }}</option>#}
{#          {% endfor %}#}
      </select> </td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <input type="radio" name="radio" id="gender" value="male" checked />Male<br>
        <input type="radio" name="radio" id="gender2" value="female" />Female
      </td>
    </tr>
    <tr>
      <td>House Name:</td>
      <td><input type="text" name="hname" id="hname" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="pin" id="pin" class="form-control" required></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="post" id="post" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="email" name="email" id="email" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="phone" id="phone" class="form-control" required/></td>
    </tr>
        <tr>
      <td>Sem</td>
      <td>
        <select name="sem" id="sem" class="form-control">
            {% for i in range(1,7) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      <td>
    </tr>
  <tr>
      <td>Batch</td>
      <td>
          <input type="text" name="batch" id="batch" class="form-control" required/>
      </td>
  </tr>
    <tr>
     <td align="center" colspan="2"><input type="submit" name="button" id="button" class="btn btn-primary" value="Register" /></td>
    </tr>
  </table>
</form>
{% endblock %}