{% extends '/College/blank.html' %} {% block body %}

<form id="form1" name="form1" method="post" action="/clg_cou">
  <table class="table table-bordered">
    <tr>
      <td>Department Name:</td>
      <td>
        <select name="dptname" id="dptname" class="form-control">
            {% for d in data %}
            <option value="{{ d[0] }}">{{ d[1] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <input type="submit" name="submit" value="SEARCH" class="btn btn-primary"/>
        </td>
    </tr>
    </table>
  <p>&nbsp;</p>
  <table class="table table-bordered">
    <tr style="color: white" bgcolor="black" >
      <th>S/No</th>
      <th>Course Name</th>
        <th></th>
    </tr>
      {% for i in data2 %}
    <tr style="color: black" bgcolor="#a9a9a9">
      <td>{{loop.index}}</td>
      <td>{{ i[1] }}</td>
        <td><a href="/view_subjects/{{i[0]}}" class="btn btn-primary">Subjects</a></td>
    </tr>
      {% endfor %}
  </table>

</form>
{% endblock %}