{% extends '/College/blank.html' %} {% block body %}

<form id="form1" name="form1" method="post" action="/clg_view_staff_search_post">

  <table class="table table-bordered">
    <tr>
      <td>
        <input type="text" name="name" class="form-control" />
      </td>
      <td>
        <input type="submit" value="Search" class="btn btn-success"/>
      </td>
    </tr>
  </table>
  <br>
  <br>




  <table class="table table-bordered">

    <tr style="color: white" bgcolor="black" >

      <th>S/No</th>
      <th>Staff Name</th>
      <th>Department Name</th>
      <th>Photo</th>
      <th>Email</th>
      <th>Phone</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
       {% for i in data %}
    <tr style="color: black" bgcolor="#a9a9a9">
      <td>{{ loop.index }}</td>
      <td>{{ i[1] }}</td>
      <td>&nbsp;{{ i[14] }}</td>
      <td><img src="{{ i[9] }}" height="100" width="100"></td>
      <td>&nbsp;{{ i[8] }}</td>
      <td>&nbsp;{{ i[7] }}</td>
      <td><a href="/update_staff/{{ i[0] }}" class="btn btn-primary">View more</a></td>
    <td><a href="/delete_staff/{{ i[0] }}" class="btn btn-danger">Remove</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
