{% extends '/College/blank.html' %} {% block body %}

<form id="form1" name="form1" method="post" action="/clgupdprofile">
  <table class="table table-bordered">

    <tr>
      <td>College Name:</td>
      <td><input type="text" value="{{ i[1] }}" class="form-control" name="name" required/></td>
    </tr>
    <tr>
      <td>Phone number:</td>
      <td><input type="tel" name="phone" class="form-control" required value="{{ i[3] }}"/></td>
    </tr>

    <tr>
      <td>Pin:</td>
      <td><input type="number" class="form-control"  name="pin" required value="{{ i[6] }}"/></td>
    </tr>


    <tr>
      <td>Post:</td>
      <td><input class="form-control" type="text" name="post" required value="{{ i[5] }}"/></td>
    </tr>
    <tr>
      <td>Place:</td>
      <td><input type="text" name="place" class="form-control" required value="{{ i[7] }}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" class="btn btn-success" value="Edit"></input></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
